@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --aiaa-blue: #2b4b77;
}

.logo-white {
  filter: brightness(0) invert(1) grayscale(1);
}

nav .border-slate-200 {
  border-color: rgba(255, 255, 255, 0.3);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
